body {
    background-color: #171717;
}

#title {
    color: #FFFFFF;
    font-size: 72px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 50px;
    display: inline-block;
    height: 100px;
    width: 49%;
    margin-top: 25px;
    margin-bottom: 0%;

    text-align: top;
}

#accent-title {
    color: #1FFFCB;
}

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

#topbar {
    display: inline-block;
    height: 100px;
    top: 25px
}

#selected-button {
    color: #1FFFCB;
    background: none;
    border: none;
    display: inline-block;
    height: 40px;
    width: 100px;
    font-size: 28px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 20px;
}

.home-button {
    color: #FFFFFF;
    background: none;
    border: none;
    display: inline-block;
    height: 40px;
    width: auto;
    font-size: 28px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 20px;
}

#dashboard-button {
    color: #171717;
    background-color: #1FFFCB;
    border: none;
    display: inline-block;
    position: relative;
    float: right;
    width: 150px;
    height: 40px;
    font-size: 24px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 4px 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#image-div {
    display: inline-block;
    height: auto;
    width: 100%;
}

#form-div {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 49%;
    height: 100%;
}

#form-box {
    background-color: #1b1b1b;
    position: absolute;
    width: 50%;
    height: 65%;
    left: 15%;
    top: 100px;
}

#form-subtitle {
    color: #1FFFCB;
    font-size: 42px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 50px;
    display: inline-block;
    height: 100px;
    width: 49%;
    margin-top: 25px;

    text-align: top;
}

.label-text {
    position: relative;
    display: block;
    left: 12%;
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.text-input {
    position: relative;
    display: block;
    left: 12%;
    width: 75%;
    height: 20px;
    padding: 10px;
    border-radius: 7px;
    background-color: #151515;
    color: #eee;
}

.dropdown-input {
    position: relative;
    display: block;
    left: 12%;
    width: 50%;
    height: 20px;
    padding: 10px;
    border-radius: 7px;
    background-color: #151515;
    color: #eee;
}

input[type="text"] {
    color: #EEE;
}

input[type="select"] {
    color: #EEE;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #555; /* Darker grey input background */
    color: #eee; /* Light text color */
}

#submit-button {
    position: relative;
    display: block;
    left: 50%;
    background-color: #007bff; /* Teal button background */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #0056b3; /* Darker teal on hover */
}

/* overlay */
#overlay-box {
    background-color: #131313;
    z-index: 99;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 15%;
    top: 100px;
}

/* results frame*/
.results-frame {
    background-color: #1b1b1b;
    position: relative;
    width: 75%;
    height: 200px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.results-image {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    left: 25px;
}

.results-title {
    position: absolute;
    display: inline-block;
    color: #1FFFCB;
    font-size: 25px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    left: 250px;
}

.results-address {
    position: absolute;
    display: inline-block;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    left: 250px;
    top: 50px;
}

.results-openstatus {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    left: 250px;
    top: 100px;
}

.results-rating {
    color: #ffc403;
    position: absolute;
    display: inline-block;
    font-size: 12px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    left: 250px;
    top: 75px;
}